@charset "UTF-8";

body {
  color: #FFF;
  font-family: 'Lato';
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

.title-font {
  font-family: Raleway;
}

.br-sp {
  display: none;
}


/* ------------ header部分 ------------- */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFF;
  z-index: 1000;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header-inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-inner__logo {
  font-size: 40px;
  color: #4e4e4e;
}

.header-inner__menu {
  display: none;
}

.header-inner__contact {
  background-color: #74cfae;
  padding: 14px 12px;
  font-size: 12px;
  text-decoration: none;
  color: #FFF;
  transition: all .3s;
}

.header-inner__contact:hover {
  color: #333;
}

/* ------------ title部分 ------------- */
.main-top {
  padding-top: 70px;
}

.title {
  background-color: #f2f2f2;
}

.title-inner {
  text-align: center;
  padding: 250px 0;
}

.title-inner__theme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.title-inner__lead {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* ------------ service部分 ------------- */
.service {
  background-color: #74cfae;
}

.service-inner {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 0 20px;
  box-sizing: border-box;
}


.service-inner__text-block {
  width: 650px;
  text-align: center;
  margin-top: 20px;
}

.service-title {
  font-size: 24px;
}

.service-lead {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 35px;
}

/* ------------ work部分 ------------- */
.work {
  background-color: #f2f2f2;
}

.work-inner {
  padding: 60px 0 70px 0;
}

.work-inner__title {
  font-size: 24px;
  text-align: center;
  color: #333;
}

.work-inner__wrap {
  margin-top: 40px;
  font-size: 0;
}

.work-inner__wrap li {
  display: inline-block;
  margin: 80px 0 0 100px;
}

.work-inner__wrap li:nth-child(3n+1) {
  margin-left: 0;
}

.work-inner__wrap li:nth-child(-n+3) {
  margin-top: 0;
}

.work-inner__wrap li a {
  opacity: .7;
  transition: all .3s;
}

.work-inner__wrap li a:hover {
  opacity: 1;
}

.work-inner__text {
  margin: 90px auto 0 auto;
  text-align: center;
  font-size: 0;
}

.work-text {
  display: inline-block;
  width: 510px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  color: #333;
}

.work-email {
  font-size: 12px;
  padding: 14px 20px;
  margin-left: 90px;
  background-color: #74cfae;
  text-decoration: none;
  vertical-align: top;
  color: #FFF;
  transition: all .3s;
}

.work-email:hover {
  color: #333;
}

/* ------------ skill部分 ------------- */
.skill {
  background-color: #4e4e4e;
}

.skill-inner {
  padding: 70px 0 100px 0;
  font-size: 0px;
}

.skill-inner__title {
  text-align: center;
  font-size: 24px;
}

.skill-inner__img-wrap {
  margin-top: 60px;
  text-align: center;
}

.skill-inner__img-wrap li {
  display: inline-block;
  margin-left: 180px;
}

.skill-inner__img-wrap li:first-child {
  margin-left: 0;
}

.skill-inner__img-wrap li figure figcaption {
  margin-top: 15px;
  font-size: 16px;
}
/* ------------ contact部分 ------------- */
.contact {
  background-color: #f2f2f2;
}

.contact-inner {
  padding: 200px 0;
  font-size: 0;
  text-align: center;
}

.contact-inner li {
  display: inline-block;
  font-size: 40px;
  text-align: center;
}

.contact-inner li a {
  width: 185px;
  padding: 30px 40px;
  box-sizing: border-box;
  color: #74cfae;
  background-color: #f2f2f2;
  transition: all .3s;
}

.contact-inner li a:hover  {
  background-color: #FFF;
}

/* ------------ footer部分 ------------- */
.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px 0;
}

.footer-inner__text {
  text-align: right;
}

/* -------------------- TABサイズ以下 ------------------------------- */
@media screen and ( max-width:1199px) {
  .inner {
    width:97%;
  }

  /* ------------ service部分 ------------- */
  .service-inner {
    flex-direction: column;
    padding: 50px 0 25px 0;
    align-items: center;
  }

  /* ------------ work部分 ------------- */
  .work-inner__wrap {
    text-align: center;
  }

  .work-inner__wrap li {
    width: 100%;
    display: block;
    margin: 0;
  }

  .work-inner__wrap li:nth-child(3n+4) {
    margin-top: 80px;
  }

  .work-inner__text {
    margin-top: 80px;
  }

  .work-text {
    width: 100%;
    font-size: 15px;
  }

  .work-email {
    margin: 40px 0 0 0;
  }
  /* ------------ skill部分 ------------- */
  .skill-inner__img-wrap li {
    width: 100%;
    margin: 88px 0 0 0;
  }

  .skill-inner__img-wrap li:first-child {
    margin-top: 0;
  }
}

/* -------------------- SPサイズ以下 ------------------------------- */
@media screen and ( max-width:767px) {
  .br-sp {
    display: block;
  }

/* ------------ header部分 ------------- */
  .header-inner {
    flex-wrap: wrap;
  }

  .header-inner__menu {
    display: block;
    padding: 10px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .header-inner__contact {
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .btn-line {
    display: block;
    position: relative;
    top: 8px;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #ddd;
  }

  .btn-line::before, .btn-line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ddd;
  }

  .btn-line::before {
    top: -7px
  }

  .btn-line::after {
    top: 7px;
  }

/* ------------ title部分 ------------- */
  .title-inner {
    padding: 160px 0 130px 0;
  }

  .theme-inner {
  padding: 160px 0 130px 0;
  }

/* ------------ service部分 ------------- */
  .service-inner__text-block {
    width: 100%;
  }

/* ------------ contact部分 ------------- */
  .contact-inner {
    padding: 50px 15px;
    box-sizing: border-box;
  }

  .contact-inner li {
    display: block;
  }

  .contact-inner li a {
    width: 100%;
  }
}